* {
	margin: 0;
	padding: 0;
}
.hero {
	height: 100vh;
	background: linear-gradient(45deg, rgba(255, 43, 177, 0.449), rgba(196, 70, 255, 0.373), rgba(171, 132, 255, 0.586), rgba(254, 63, 95, 0.433), rgba(88, 239, 236, 0.641)) 0 0 / 1000% no-repeat, url(https://i.pinimg.com/originals/e5/9c/82/e59c829455bd9cdc12930cb72c7253f3.png) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
	animation: gradientAnimation 40s ease infinite;
}

.text{
	font-size: 5vw;
	overflow-wrap: break-word;
}
.span{
	font-size: 5vw;
	overflow-wrap: break-word;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font : normal 600 72px/1 'Open Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}
h1 span {
	display: block;
	margin-top: 1em;
	font-size: 40px;
	font-weight: 300;
}